@page
@model GitGodsLMS.wwwroot.cancelModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Payment Canceled</title>
</head>
<body>
    <h1>Payment Was Not Completed</h1>
    <p>Your transaction was canceled. Please try again or contact support.</p>
</body>
</html>