@page
@model ClassCreatorModel
@{
}
<h1>Class Creator</h1>

<form action="/" method="post">
	<labelfor ="" class="">Class Name</labelfor>
	<input type="text" id="addClassName" name="ClassName" />
</form>